<div class="container-fuild margin-top-dashboard">
  <div class="row rowCustom">
    <div
      class="col-sm-3"
      style="border: 1px solid gainsboro; padding: 0px; border-radius: 4px"
    >
      <label class="lableCustom labelbookEntry">Add Book</label>
      <div style="border-radius: 4px; padding: 10px">
        <form [formGroup]="form" (ngSubmit)="saveBook()">
          <div class="form-group">
            <label for="fname" class="label-font">Title</label>
            <input
              formControlName="name"
              id="name"
              type="text"
              placeholder="Enter title"
              class="form-control input-bottom"
              autocomplete="off"
              [(ngModel)]="bookStoreObj.bookObj.title"
            />
            <div
              *ngIf="f.name.touched && f.name.invalid"
              class="alert alert-danger validation"
            >
              <div *ngIf="f.name.errors.required">Name is required.</div>
              <div *ngIf="f.name.errors.minlength">
                Title should be 3 character.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="Author" class="label-font">Author</label>
            <input
              formControlName="Author"
              id="Author"
              type="text"
              placeholder="Enter author"
              class="form-control input-bottom"
              autocomplete="off"
              [(ngModel)]="bookStoreObj.bookObj.author"
            />
            <div
              *ngIf="f.Author.touched && f.Author.invalid"
              class="alert alert-danger validation"
            >
              <div *ngIf="f.Author.errors.required">Author is required.</div>
              <div *ngIf="f.Author.errors.minlength">
                Author should be 3 character.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="Website" class="label-font">Website</label>
            <input
              formControlName="webSite"
              id="webSite"
              type="text"
              placeholder="Enter website"
              autocomplete="off"
              class="form-control input-bottom"
              [(ngModel)]="bookStoreObj.bookObj.webSite"
            />
            <div
              *ngIf="f.webSite.touched && f.webSite.invalid"
              class="alert alert-danger validation"
            >
              <div *ngIf="f.webSite.errors.required">Web site is required.</div>
              <div *ngIf="f.webSite.errors.pattern">Enter valid url.</div>
            </div>
          </div>
          <button
            class="btn btn-danger button button3 buttonReset"
            type="reset"
          >
            Reset
          </button>
          <button
            class="btn btn-success button button3 buttonsubmit"
            type="submit"
            [disabled]="!form.valid"
          >
            Add Book
          </button>
        </form>
      </div>
      <!-- <div style="border-radius: 4px; padding: 10px">
        <label for="fname" class="">Title</label>
        <p>
          <input
            id="title"
            type="text"
            required
            [(ngModel)]="bookStoreObj.bookObj.title"
          />
          <label for="input" placeholder="Title" alt="Enter Title"></label>
        </p>

        <label for="fname" class="">Author</label>
        <p>
          <input
            id="author"
            type="text"
            required
            [(ngModel)]="bookStoreObj.bookObj.author"
          />
          <label for="input" placeholder="Author" alt="Enter Author"></label>
        </p>

        <label for="fname" class="">Website</label>
        <p>
          <input
            id="webSite"
            type="text"
            required
            [(ngModel)]="bookStoreObj.bookObj.webSite"
          />
          <label for="input" placeholder="Website" alt="Enter Website"></label>
        </p>
        <button class="button button3 buttonReset" (click)="resetBook()">
          Reset
        </button>
        <button class="button button3" (click)="saveBook()">Add Book</button>
      </div> -->
    </div>

    <div class="col-sm-9 mobileview">
      <label class="lableCustom lableBookList boderBoolist">Book List</label>
      <div class="booklistTableborder">
        <table>
          <thead style="background-color: white">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Author</th>
              <th scope="col">Website</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody *ngIf="bookStoreObj.bookDataList.length > 0">
            <tr *ngFor="let row of bookStoreObj.bookDataList; let i = index">
              <td data-label="#">{{ i + 1 }}</td>
              <td data-label="Name">{{ row.title }}</td>
              <td data-label="Author">
                {{ row.author }}
              </td>
              <td data-label="Website" style="word-break: break-all">
                <a href="{{ row.webSite }}" target="_blank">
                  {{ row.webSite }}</a
                >
              </td>
              <td data-label="Action">
                <i
                  class="bi bi-pencil-square cursercss"
                  (click)="operation(row, 'edit')"
                ></i>
                &nbsp;
                <i
                  class="bi bi-trash cursercss"
                  (click)="operation(row, 'delete')"
                ></i>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="bookStoreObj.bookDataList.length === 0">
            <tr col-span="5">
              <td colspan="5">Nothing Found</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
