.margin-top-dashboard {
  margin-top: 40px;
}
.rowCustom {
  padding-right: 28px;
  padding-left: 48px;
  padding-top: 18px;
}
.lableCustom {
  padding: 10px;
  color: white;
  width: 100%;
  background: green;
}

.labelbookEntry {
  background-color: forestgreen;
  font-family: muli;
}

.lableBookList {
  background-color: #8080806e;
  color: black;
}

.boderBoolist {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0px;
}

.booklistTableborder {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: none;
  border-right: none;
  border-left: none;
  overflow-y: scroll;
  max-height: 444px;
}

.input-bottom {
  margin-bottom: 5px !important;
  height: 39px !important;
}
.label-font {
  font-weight: 500;
}

.lable input[type="text"],
select {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  height: calc(3em + 2px);
  margin: 0 0 1em;
  padding: 6px;
  border: 1px solid #bababa;
  border-radius: 3px;
  background: #fff;
  font-size: 16px;
  resize: none;
  outline: none;
}
input[type="text"]:focus {
  border-color: #00bafa;
}
input[type="text"]:focus + label[placeholder]:before {
  color: #0091da;
}
input[type="text"]:focus + label[placeholder]:before,
input[type="text"]:valid + label[placeholder]:before {
  transition-duration: 0.2s;
  transform: translate(0, -1.6em) scale(0.9, 0.9);
  font-weight: bold;
}
input[type="text"]:valid {
  border-color: green;
}
input[type="text"]:valid + label[placeholder]:before {
  color: green;
}
input[type="text"]:invalid + label[placeholder][alt]:before {
  content: attr(alt);
}
input[type="text"] + label[placeholder] {
  display: block;
  pointer-events: none;
  line-height: 1.25em;
  margin-top: calc(-3em - 2px);
  margin-bottom: calc((3em - 1em) + 2px);
}
input[type="text"] + label[placeholder]:before {
  content: attr(placeholder);
  display: inline-block;
  margin: 0 calc(0.5em + 2px);
  padding: 0 2px;
  color: #7d7d7d;
  white-space: nowrap;
  transition: 0.3s ease-in-out;
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  background-size: 100% 5px;
  background-repeat: no-repeat;
  background-position: center;
}

html {
  height: 100%;
  font-size: 16px;
}
body > * {
  margin: 20px auto;
  width: 50%;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.buttonReset {
  background-color: #af4343;
  padding-left: 16px;
  padding-right: 16px;
}

.buttonsubmit {
  padding-left: 16px;
  padding-right: 16px;
}

.button3 {
  border-radius: 4px;
}

.cursercss {
  cursor: pointer;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  background-color: white;
  position: sticky;
  top: 0;
  /* text-transform: uppercase; */
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }

  .mobileview {
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 15px;
  }

  .buttonReset {
    background-color: #af4343;
    width: auto;
  }
  .buttonsubmit {
    width: auto;
  }
}
.validation {
  padding: 0px;
  text-align: center;
  font-size: 12px;
}
