<div class="container-fuild margin-top-dashboard">
  <!-- <div class="jumbotron"> -->
  <div class="row rowCustom">
    <div
      class="col-sm-3"
      style="border: 1px solid gainsboro; padding: 0px; border-radius: 4px"
    >
      <label class="lableCustom labelbookEntry">Add Book</label>
      <div style="border-radius: 4px; padding: 10px">
        <label for="fname" class="">Title</label>

        <p>
          <input
            id="input"
            type="text"
            required
            [(ngModel)]="bookStoreObj.bookObj.title"
          />
          <label for="input" placeholder="Title" alt="Enter Title"></label>
        </p>

        <label for="fname" class="">Author</label>
        <p>
          <input
            id="input"
            type="text"
            required
            [(ngModel)]="bookStoreObj.bookObj.author"
          />
          <label for="input" placeholder="Author" alt="Enter Author"></label>
        </p>

        <label for="fname" class="">Website</label>
        <p>
          <input
            id="input"
            type="text"
            required
            [(ngModel)]="bookStoreObj.bookObj.webSite"
          />
          <label for="input" placeholder="Website" alt="Enter Website"></label>
        </p>
        <button class="button button3 buttonReset" (click)="resetBook()">
          Reset
        </button>
        <button class="button button3" (click)="saveBook()">Add Book</button>
      </div>
    </div>

    <div class="col-sm-9 mobileview">
      <label class="lableCustom lableBookList boderBoolist">Book List</label>
      <div class="booklistTableborder">
        <table>
          <!-- <caption> -->
          <!-- Statement Summary -->
          <!-- </caption> -->
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Author</th>
              <th scope="col">Website</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let row of this.bookStoreObj.bookDataList; let i = index"
            >
              <td data-label="Account">Visa - 3412</td>
              <td data-label="Due Date">04/01/2016</td>
              <td data-label="Amount">$1,190</td>
              <td data-label="Period">03/01/2016 - 03/31/2016</td>
              <td data-label="Amount">
                <i class="bi bi-pencil-square"></i> &nbsp;
                <i class="bi bi-trash"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>
